:root {
  --clr-white: #fff;
  --clr-black: #222222;
  /*primary*/
  --clr-primary: #c9e52d57;
  --clr-primary-2: rgb(241, 193, 33);
  --clr-text: #8c8e8f;
  /*grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);

  --clr-white: #fff;
  --clr-gold: #c59d5f;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --spacing: 0.16rem;
  --radius: 0.4rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
/*product card*/
.food {
  background: var(--clr-white);
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  box-shadow: var(--light-shadow);
  margin-top: 3.2rem;
  transition: var(--transition);
}
.food:hover {
  box-shadow: var(--dark-shadow);
}

.food-img {
  height:25rem;
  object-fit: contain;
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}

.food-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.food-description {
  margin-top: 1.2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  flex: 1;
}
.food-title {
  font-size: 1.8rem;
  text-transform: capitalize;
  color: var(--clr-black);
  letter-spacing: var(--spacing);
  line-height: 2.2rem;
}
.food-price {
  color: var(--clr-primary-2);
  font-size: 1.6rem;
}
.food-category {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  font-weight: 600;
  color: var(--clr-black);
  margin: 0.8rem 0;
}
.food-footer {
  flex-shrink: 0;
  margin-top: auto;
}
.food-btn {
  background: var(--clr-primary-2);
  padding: 0.8rem 1.2rem;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  font-size: 1.6rem;
  color: var(--clr-white);
  border-color: transparent transparent transparent;
  cursor: pointer;
  transition: var(--transition);
}
.food-btn:hover {
  color: var(--clr-black);
  background: var(--clr-primary);
}
/*pagination*/
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  align-items: center;
}
.pagination-icon-prev,
.pagination-icon-next {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-black);
}
.pagination-icon-prev {
  margin-right: 2rem;
}
.page-btn {
  border: none;
  background: transparent;
  padding: 0.8rem 2rem;
  border-radius: var(--radius);
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}
.active-page {
  color: var(--clr-white);
  background: var(--clr-primary-2);
}
@media (max-width: 920px) {
  .food-img {
    object-fit: contain;
  }
}
