
.menu-container {
  text-align: center;
  margin: 4rem auto;
  max-width: 120rem;
}
.title-our-menu {
  color: #102a42;
  font-size: 4rem;
  letter-spacing: var(--spacing);
  font-weight: 600;
  margin-bottom: 2rem;
}
.underline {
  background: var(--clr-primary-2);
  width: 12rem;
  height: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

/*pagination*/
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  align-items: center;
}
.pagination-icon-prev,
.pagination-icon-next {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--clr-black);
}
.pagination-icon-prev {
  margin-right: 2rem;
}
.page-btn {
  border: none;
  background: transparent;
  padding: 0.8rem 2rem;
  border-radius: var(--radius);
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
}
.active-page {
  color: var(--clr-white);
  background: var(--clr-primary-2);
}
@media (max-width: 920px) {
  .food-img {
    object-fit: contain;
  }
}
