.sliders {
  overflow: hidden;
  height: 45rem;
  position: relative;
  display: none;
}
.slider-item {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  transition: all 0.7s linear;
}
.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prevBtn,
.nextBtn {
  font-size: 1.6rem;
  color: var(--clr-white);
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  padding: 1.2rem 1.6rem;
  border: none;
  border-color: transparent;
  cursor: pointer;
}
.prevBtn {
  top: 50%;
  transform: translateY(-50%);
}
.nextBtn {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.prevBtn:hover,
.nextBtn:hover {
  background: rgba(75, 73, 73, 0.5);
}
.slider-item.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.slider-item.lastSlide {
  transform: translateX(-100%);
}
.slider-item.nextSlide {
  transform: translateX(100%);
}
.list-dot {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 3.2rem;
  left: 50%;
  transform: translateX(-50%);
}
.dot-item {
  width: 2rem;
  height: 1rem;
  background-color: var(--clr-white);
  margin: 0 2.4rem;
  border-radius: 1rem;
  padding: 1.2rem 1.2rem;
  cursor: pointer;
  transition: var(--transition);
}
.dot-item.dot-active {
  padding: 1.2rem 3rem;
  background: var(--clr-primary-2);
}
@media screen and (min-width: 800px) {
  .sliders {
    display: flex;
  }
}
